/*@import 'css/reset.css';*/
body {
	background: #333;
	color: #555;
/*	font: 10pt Arial, Helvetica, sans-serif;*/
	padding-bottom: 50px;
}
textarea {
	background: #ccc;
	color: #333;
	font-family: monospace;
	font-size: 12px;
	line-height: 1;
}
#length-in, #length-out {
	color: #888;
	float: right;
}
/*
#update, #proc {
	position: fixed;
	right: 0;
	text-align: right;
}
#proc {
	bottom: 0;
	margin: .3em;
}
#update { top: 0; }
*/
.textbox {
	height: 32%;
	/*margin: .5em 2em;*/
	padding: 1.5em 0 0;
	width: auto;
}
.textbox div { margin: 0 1ex; }
.textbox textarea {
	border: 1px solid #555;
	height: 100%;
	width: 100%;
}
.textbox .txb-label {
	color: #999;
	text-shadow: .5px 1px 4px rgba( 0, 0, 0, .8 );
}
.textbox .txb-label-right {
	float: right;
}