/*@import 'css/reset.css';*/
body {
	background: #333;
	color: #555;
/*	font: 10pt Arial, Helvetica, sans-serif;*/
	padding-bottom: 50px;
}
.height-box { height: 100%; }
textarea {
	background: #ccc;
	color: #333;
	font-family: monospace;
	font-size: 12px;
	line-height: 1;
}
#length-in, #length-out {
	color: #888;
	float: right;
}
/*
#update, #proc {
	position: fixed;
	right: 0;
	text-align: right;
}
#proc {
	bottom: 0;
	margin: .3em;
}
#update { top: 0; }
*/
.textbox {
	height: 100%;
	margin: .5em 1em;
	padding: 1.5em 0 0;
	width: auto;
}
.textbox div { margin: 0 1ex; }
.textbox .editor {
	background-color: hsla( 0, 0%, 90%, .8 );
	border: 1px solid #555;
	border-radius: 6px;
	box-shadow:
		inset 0 1px 2px -1px #000,
		inset 1px 3px 6px rgba( 0, 0, 0, .3 ),
		0 -1px 2px -1px #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 90%;
	padding: 8px;
	width: 100%;
}
.textbox textarea {
	background: transparent;
	border: none;
	height: 100%;
	width: 100%;
}
.textbox .txb-label {
	color: #999;
	text-shadow: .5px 1px 4px rgba( 0, 0, 0, .8 );
}
.textbox .txb-label-right {
	float: right;
}


/*

CSS Noise Code Snippet by James Brocklehurst.
Find out more at http://www.mightymeta.co.uk/1269/css-noise/

Instructions:

1. Add the snippet to the bottom of your main stylesheet.

2. Add class="noise" to HTML elements to apply noise, use class="body-noise" for body element only.

3. Use grouped selectors instead if you want to avoid unsemantic class attributes.

*/

/*** SNIPPET STARTS ***/

.noise {
	position: relative;
	z-index: 1;
}
		
.noise:before, .body-noise:before {
	content: "";
	position: absolute;
	z-index: -1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity: .03;
	background-image: url(noiseLab.png);
}

/*** SNIPPET ENDS ***/